<div class="container-fluid">
  <div class="row">

    <div class="col-md-2">
      <div class="card-container">
        <div class="title-form-container">
          <div class="title-container">
            <h2>Tasketeer<mat-icon [ngStyle]="{'color':'salmon'}">track_changes</mat-icon></h2>
          </div>
          <div class="form-container">
            <form role="form" method="POST">
              <div class="form-group">
                <h2>Create New Task</h2>
                  <div>
                      <input type="text" class="form-control" name="taskName" placeholder="Task Name" #taskName required>
                  </div>
              </div>
              <div class="form-group">
                <div>
                    <input type="text" class="form-control" name="ticketID" placeholder="Task ID" #taskId required>
                </div>
            </div>
              <div class="form-group">
                  <select class="form-control select-picker" #taskStatus required>
                    <option selected disabled>Select Status</option>
                    <option>To Do</option>
                    <option>In Progress</option>
                    <option>Reopen</option>
                    <option>Resolve</option>
                  </select>
              </div>
              <div class="form-group">
                  <div class="submit-btn-container">
                      <button  type="submit" mat-raised-button [ngStyle]="{'backgroundColor':'#296D98','color':'#fff'}" (click)="onCreateClick(taskId, taskName, taskStatus)">Create</button>
                  </div>
              </div>
          </form>
        </div>
      </div>

        <div class="logout-btn-container">
          <button mat-raised-button color="warn" (click)="auth.SignOut()">
            <mat-icon matSuffix>logout</mat-icon>
             Log Out
          </button>
        </div>

      
      </div>
    </div>

      <div class="col-md-9">
        <div cdkDropListGroup>
          <div class="row">

            <div class="col-md-4">
              <!-- To do -->
              <div class="example-container">
                <div class="cdk-title-container">
                  <h2>To Do - <span>{{tasks.length}}</span></h2>
                </div>
                <div
                  id = "To Do"
                  cdkDropList
                  [cdkDropListData]="tasks"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of tasks" cdkDrag>{{item.taskName}} <br> {{item.taskId}}
                      <div class="box">
                          <div class="btn-icon-container">
                            <button mat-icon-button color="warn" (click)="deleteEntry(item.id)"><mat-icon>delete</mat-icon></button>
                          </div>
                          <div class="item-status">
                            <mat-icon matSuffix [ngStyle]="{'color': '#1469BD'}">flag_circle</mat-icon>
                          </div>
                      </div>
                      
                  </div>
                </div>
              </div>
            
            </div>

            <div class="col-md-4">
              <!-- Inprogress -->
              <div class="example-container">
                <div class="cdk-title-container">
                  <h2>In Progress - <span>{{inprogress.length}}</span></h2>
                </div> 
                <div
                  id="In Progress"
                  cdkDropList
                  [cdkDropListData]="inprogress"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of inprogress" cdkDrag>{{item.taskName}} <br> {{item.taskId}}
                    <div class="box">
                      <div class="btn-icon-container">
                        <button mat-icon-button color="warn" (click)="deleteEntry(item.id)"><mat-icon>delete</mat-icon></button>
                      </div>
                      <div class="item-status">
                        <mat-icon matSuffix [ngStyle]="{'color': 'orange'}">hourglass_top</mat-icon>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <!-- Reopen -->
              <div class="example-container">
                <div class="cdk-title-container">
                  <h2>Reopen - <span>{{reopen.length}}</span></h2>
                </div>  
                <div
                  id="Reopen"
                  cdkDropList
                  [cdkDropListData]="reopen"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of reopen" cdkDrag>{{item.taskName}} <br> {{item.taskId}}
                    <div class="box">
                      <div class="btn-icon-container">
                        <button mat-icon-button color="warn" (click)="deleteEntry(item.id)"><mat-icon>delete</mat-icon></button>
                      </div>
                      <div class="item-status">
                        <mat-icon matSuffix [ngStyle]="{'color': 'green'}">change_circle</mat-icon>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <!-- Resolved -->
              <div class="example-container">
                <div class="cdk-title-container"> 
                  <h2>Resolved - <span>{{resolved.length}}</span></h2>
                </div>
                <div
                  id="Resolve"
                  cdkDropList
                  [cdkDropListData]="resolved"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of resolved" cdkDrag>{{item.taskName}} <br> {{item.taskId}}
                    <div class="box">
                      <div class="btn-icon-container">
                        <button mat-icon-button color="warn" (click)="deleteEntry(item.id)"><mat-icon>delete</mat-icon></button>
                      </div>
                      <div class="item-status">
                        <mat-icon matSuffix [ngStyle]="{'color': 'green'}">check_circle</mat-icon>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
  </div>
</div>

