<div class="container-fluid">
  <div class="row">

    <div class="col-md-2">
      <div class="mat-card-container">

        <mat-card class="mat-card">
          <form role="form" method="POST" action="">
            <input type="hidden" name="_token" value="">
            <div class="form-group">
                <label class="control-label">Ticket ID</label>
                <div>
                    <input type="text" class="form-control input-lg" name="ticketID" value="" #taskId>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Task Name</label>
                <div>
                    <input type="email" class="form-control input-lg" name="taskName" value="" #taskName>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Status</label>
                <select class="form-control input-lg" #taskStatus>
                  <option>To Do</option>
                  <option>In Progress</option>
                  <option>Reopen</option>
                  <option>Resolve</option>
                </select>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-success m-2 " (click)="onCreateClick(taskId, taskName, taskStatus)">Create</button>
                    <!-- <button type="submit" class="btn btn-danger m-2" (click)=onCloseClick()>Close</button> -->
                </div>
            </div>
        </form>
        </mat-card>

        <div class="logout-btn-container">
          <button mat-raised-button color="warn" (click)="auth.SignOut()">
            <mat-icon matSuffix>logout</mat-icon>
             Log Out
          </button>
        </div>

      </div>
    </div>

      <div class="col-md-9">
        <div cdkDropListGroup>
          <div class="row">

            <div class="col-md-4">
              <!-- To do -->
              <div class="example-container">
                <h2>To Do - <span>{{tasks.length}}</span></h2>
            
                <div
                  id = "To Do"
                  cdkDropList
                  [cdkDropListData]="tasks"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of tasks; let i = index" cdkDrag>{{item.taskName}} <br> {{item.taskId}}
                      <div class="box">
                          <div class="btn-icon-container">
                            <!-- <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
                            <button mat-icon-button (click)="onEdit(item,i)"><mat-icon [ngStyle]="{'color': '#EFB701'}">edit</mat-icon></button> -->
                          </div>
                          <div class="item-status">
                            <button mat-icon-button><mat-icon matSuffix [ngStyle]="{'color': '#1469BD'}">start</mat-icon></button>
                          </div>
                      </div>
                      
                  </div>
                </div>
              </div>
            
            </div>

            <div class="col-md-4">
              <!-- Inprogress -->
              <div class="example-container">
                <h2>In Progress - <span>{{inprogress.length}}</span></h2>
            
                <div
                  id="In Progress"
                  cdkDropList
                  [cdkDropListData]="inprogress"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of inprogress; let i = index" cdkDrag>{{item.taskName}} <br> {{item.taskId}}
                    <div class="box-no-edit">
                      <div class="btn-icon-container">
                        <!-- <button mat-icon-button color="warn" (click)="deleteInProgressTask(i)"><mat-icon>delete</mat-icon></button>
                        <button mat-icon-button (click)="onEdit(item,i)"><mat-icon [ngStyle]="{'color': '#EFB701'}">edit</mat-icon></button> -->
                      </div>
                      <div class="item-status">
                        <mat-icon matSuffix [ngStyle]="{'color': 'orange'}">hourglass_top</mat-icon>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <!-- Reopen -->
              <div class="example-container">
                <h2>Reopen - <span>{{reopen.length}}</span></h2>
            
                <div
                  id="Reopen"
                  cdkDropList
                  [cdkDropListData]="reopen"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of reopen; let i = index" cdkDrag>{{item.taskName}} <br> {{item.taskId}}
                    <div class="box-no-edit">
                      <div class="btn-icon-container">
                        <!-- <button mat-icon-button color="warn" (click)="deleteReopenTask(i)"><mat-icon>delete</mat-icon></button>
                        <button mat-icon-button (click)="onEdit(item,i)"><mat-icon [ngStyle]="{'color': '#EFB701'}">edit</mat-icon></button> -->
                      </div>
                      <div class="item-status">
                        <mat-icon matSuffix [ngStyle]="{'color': 'green'}">change_circle</mat-icon>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <!-- Resolved -->
              <div class="example-container">
                <h2>Resolved - <span>{{resolved.length}}</span></h2>
            
                <div
                  id="Resolve"
                  cdkDropList
                  [cdkDropListData]="resolved"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of resolved; let i = index" cdkDrag>{{item.taskName}} <br> {{item.taskId}}
                    <div class="box-no-edit">
                      <div class="btn-icon-container">
                        <!-- <button mat-icon-button color="warn" (click)="deleteResolvedTask(i)"><mat-icon>delete</mat-icon></button>
                        <button mat-icon-button (click)="onEdit(item,i)"><mat-icon [ngStyle]="{'color': '#EFB701'}">edit</mat-icon></button> -->
                      </div>
                      <div class="item-status">
                        <mat-icon matSuffix [ngStyle]="{'color': 'green'}">check_circle</mat-icon>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
  </div>
</div>

