<div class="container-fluid">
  <div class="row">

    <div class="col-md-2">
      <div class="mat-card-container">

        <mat-card class="mat-card">
          <form [formGroup]="todoForm">
            <mat-form-field appearance="outline">
              <mat-label>Create New Task</mat-label>
              <input formControlName="item" matInput placeholder="Task Name">
              <mat-icon matSuffix [ngStyle]="{'color':'salmon'}">task</mat-icon>
            </mat-form-field>
            <div class="form-btn-container ">
              <button *ngIf="!isEditEnabled" [disabled]="todoForm.invalid" mat-raised-button color="primary" (click)="addTask()">Create Task</button>
              <button *ngIf="isEditEnabled"  [disabled]="todoForm.invalid" mat-raised-button color="primary" (click)="updateTask()">Update Task</button>
            </div>
          </form>
        </mat-card>

        <div class="logout-btn-container">
          <button mat-raised-button color="warn" (click)="auth.SignOut()">
            <mat-icon matSuffix>logout</mat-icon>
             Log Out
          </button>
        </div>

      </div>
    </div>

      <div class="col-md-9">
        <div cdkDropListGroup>
          <div class="row">

            <div class="col-md-4">
              <!-- to do -->
              <div class="example-container">
                <h2>To Do - <span>{{tasks.length}}</span></h2>
            
                <div
                  cdkDropList
                  [cdkDropListData]="tasks"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of tasks; let i = index" cdkDrag>{{item.description}}
                      <div class="box">
                          <div class="btn-icon-container">
                            <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
                            <button mat-icon-button (click)="onEdit(item,i)"><mat-icon [ngStyle]="{'color': '#EFB701'}">edit</mat-icon></button>
                          </div>
                          <div class="item-status">
                            <button mat-icon-button><mat-icon matSuffix [ngStyle]="{'color': '#1469BD'}">start</mat-icon></button>
                          </div>
                      </div>
                      
                  </div>
                </div>
              </div>
            
            </div>

            <div class="col-md-4">
              <!-- inprogress -->
              <div class="example-container">
                <h2>In Progress - <span>{{inprogress.length}}</span></h2>
            
                <div
                  cdkDropList
                  [cdkDropListData]="inprogress"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of inprogress; let i = index" cdkDrag>{{item.description}}
                    <div class="box-no-edit">
                      <div class="btn-icon-container">
                        <button mat-icon-button color="warn" (click)="deleteInProgressTask(i)"><mat-icon>delete</mat-icon></button>
                      </div>
                      <div class="item-status">
                        <mat-icon matSuffix [ngStyle]="{'color': 'orange'}">hourglass_top</mat-icon>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <!-- done -->
              <div class="example-container">
                <h2>Done - <span>{{done.length}}</span></h2>
            
                <div
                  cdkDropList
                  [cdkDropListData]="done"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of done; let i = index" cdkDrag>{{item.description}}
                    <div class="box-no-edit">
                      <div class="btn-icon-container">
                        <button mat-icon-button color="warn" (click)="deleteDoneTask(i)"><mat-icon>delete</mat-icon></button>
                      </div>
                      <div class="item-status">
                        <mat-icon matSuffix [ngStyle]="{'color': 'green'}">check_circle</mat-icon>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
  </div>
</div>
