<div class="content">
  <div class="title-container">
    <h2>Create New Task</h2>
  </div>
      <form [formGroup]="addTask" (ngSubmit)="submit()">
        
        <div class="input-container">
          <mat-form-field>
            <mat-label>Task Name</mat-label>
            <input matInput formControlName="taskName">
          </mat-form-field>
        </div>

        <div class="input-container">
          <mat-form-field>
            <mat-label>Task Description</mat-label>
            <input matInput formControlName="taskDescription">
          </mat-form-field>
        </div>
      
        <div class="btn-container">
          <button mat-raised-button color="primary" type="submit">Create</button>
        </div>
      </form>
</div>